.quick-add-to-cart-form
  %span.price.selling{itemprop: "price"}
    = display_price(@product)
    - if @product.property('price_per_kg')
      .price-per-kg
        = "($#{product.property('price_per_kg')} per kg)"
  %span.order-path(style="display:none")
    = api_quick_order_path(@quick_cart_current_order, order_token: @quick_cart_current_order.guest_token)
  = form_tag api_order_line_items_path(@quick_cart_current_order.number), method: :post do
    .fields
      - if @product.variants_and_option_values(current_currency).any?
        #product-variants.columns.five.alpha
          %h6.product-section-title= Spree.t(:variants)
          %ul 
            - @product.variants_and_option_values(current_currency).each_with_index do |variant, index|
              %li
                = radio_button_tag "line_item[variant_id]", variant.id, index == 0, 'data-price' => variant.price_in(current_currency).money
                = label_tag "line_item[variant_id_#{ variant.id }]" do
                  %span.variant-description
                    = variant_options variant
                  - if variant_price variant
                    %span.price.diff= variant_price variant
                  - unless variant.can_supply?
                    %span.out-of-stock= Spree.t(:out_of_stock)
      - else
        = hidden_field_tag "line_item[variant_id]", @product.master.id
      = hidden_field_tag "options[quick_add]", "true" 
      = hidden_field_tag "order_token", @quick_cart_current_order.guest_token
      = number_field_tag "line_item[quantity]", 1, :class => 'add-quantity', :min => 1
      = button_tag :class => 'large primary add-button', :type => :submit do
        = Spree.t(:add_to_cart)
