.quick-add-to-cart-form
  - order = current_order(create_order_if_necessary: true)
  %span.order-path(style="display:none")
    = api_order_path(order, order_token: order.guest_token)
  = form_tag api_order_line_items_path(order.number), method: :post do
    .fields
      = hidden_field_tag "order_token", order.guest_token
      = hidden_field_tag "line_item[variant_id]", product.master.id
      = number_field_tag "line_item[quantity]", 1, :class => 'add-quantity', :min => 1
      = button_tag :class => 'large primary add-button', :type => :submit do
        = Spree.t(:add_to_cart)
